
.container {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
}

.login-image {
     margin-top: 50px;
}

.login-form {
     background-color: #FEC9DC;
     padding: 20px 10px;
     width: 300px;
     height: auto;
}

h3 {
     text-align: center;
     padding: 10px;
}

form {
     margin-left: 40px;
}

form label, input {
     margin: 15px 0px;
}